<div class="read-more">
  <div class="read-more-header">
    <a href="{{ author.name }}" class="read-more-btn">About the Author</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <h3>{{author.name}}</h3>
    <div class="author-container">
      <img class="author-img" src="{{site.url}}/{{author.avatar}}" alt="{{author.name}}" />
      {% if author.bio %}
      <div class="author-bio">{{author.bio}}</div>
      {% endif %}
      <div class="author-share">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
          {% endfor %}
        </ul>
        {% if author.github %}
          <a aria-label="Follow @{{author.github}} on GitHub" data-style="mega" href="https://github.com/{{author.github}}" class="github-button">Follow @{{author.github}}</a>
        {% endif %}
        <br>
        {% if author.bitbucket %}
          <a aria-label="Follow @{{author.bitbucket}} on Bitbucket" data-style="mega" href="https://bitbucket.org/{{author.bitbucket}}" class="bitbucket-button">Follow @{{author.bitbucket}}</a>
        {% endif %}
        <br>
        {% if author.gitlab %}
          <a aria-label="Follow @{{author.gtilab}} on Gitlab" data-style="mega" href="https://gitlab.com/{{author.gitlab}}" class="gitlab-button">Follow @{{author.gitlab}}</a>
        {% endif %}
        <br>
        {% if author.twitter %}
          <a href="https://twitter.com/{{author.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{author.twitter}}</a>
        {% endif %}
        <br>
        {% if author.orcid %}
          <a aria-label="Follow on ORCID" data-style="mega" href="https://orcid.org/{{author.orcid}}" class="orcid-button">Follow on ORCID</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
