<span><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
<br />
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">EmuMore's blog content</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
<br />
<span> Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> using a modified <a href="http://github.com/aron-bordin/neo-hpstr-jekyll-theme" rel="nofollow">Neo-HPSTR Theme</a>.</span>
