{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign cats_list = site_cats | split:',' | sort %}

<div class="header-menu header-menu-top">
    <ul class="header-item-container">
      <li class="header-item-title header-toggle "><a href="#menu"><h2><i class="fa fa-bars"></i></h2></a></li>
      <li class="header-item-title">
        <a href="{{ "/" | absolute_url }}">
          {% if site.logo %}
            <img class="logo" src="{{ site.logo | absolute_url }}" alt="{{ site.title }}">
          {% endif %}
          <a href="{{ "/" | absolute_url }}" class="title"> {{ site.title }}</a>
        </a>
      </li>
      {% for menu in site.menu reversed %}
        {% assign class = nil %}
        {% if ((page.url contains menu.url and menu.url != '/') or (page.url == '/index.html' and menu.url == '/')) %}
          {% assign class = 'active' %}
        {% endif %}

        {% if menu.type == 'categories' %}
          <li class="header-item {{class}}"><a href="{{menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for item in (0..site.categories.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                  <li class="sub-item"><a href="{{ "/categories/#{{this_word}}" | absolute_url }}">{{this_word}}</a></li>
              {% endunless %}{% endfor %}
            </ul>
          </li>
        {% elsif menu.submenu %}
          <li class="header-item {{class}}"><a href="{{menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for sub in menu.submenu %}
                <li class="sub-item"><a href="{{sub.url | absolute_url }}">{{sub.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
            {% if menu.url contains 'http://' or menu.url contains 'https://' %}
                <li class="header-item {{class}}"><a href="{{menu.url}}" target="_blank"><h3>{{ menu.title }}</h3></a></li>
            {% else %}
                <li class="header-item {{class}}"><a href="{{menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
<!--      <li class="header-item"><a href="{{ "/search" | absolute_url }}"><h3><i class="fa fa-search"></i></h3></a></li>-->
    </ul>
  </div>
<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <h2><span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
      {% else %}
        <h2><span class="entry-date"><time>&nbsp;</time></span></h2>
      {% endif %}

      {% if site.reading_time and page.layout == 'post' %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% assign readtime = content | strip_html | number_of_words | divided_by:site.words_per_minute %}
          Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
        </p><!-- /.entry-reading-time -->
      {% else %}
          <p class="entry-reading-time">
            &nbsp;
          </p><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->


<nav id="menu" style="display: none">
  <ul>
    {% for menu in site.menu %}
      {% if menu.type == 'categories' %}
        <li><a href="{{ menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for item in (0..site.categories.size) %}{% unless forloop.last %}
              {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                <li><a href="{{"/categories/#" | absolute_url }}{{this_word}}">{{this_word}}</a></li>
            {% endunless %}{% endfor %}
          </ul>
        </li>
      {% elsif menu.submenu %}
        <li><a href="{{menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for sub in menu.submenu %}
              <li><a href="{{sub.url | absolute_url }}">{{sub.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{menu.url | absolute_url }}"><h3>{{ menu.title }}</h3></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% if site.owner.twitter %}
  <a href="https://twitter.com/{{site.owner.twitter}}" class="btn btn-info button-twitter" data-show-count="false" data-size="large"><i class="fa fa-twitter"></i> <span> | Follow @{{site.owner.twitter}}</span></a>
{% endif %}
