<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ "/favicon.ico" | absolute_url }}">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ "/favicon.png" | absolute_url }}">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ "/images/apple-touch-icon-precomposed.png" | absolute_url }}">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/images/apple-touch-icon-72x72-precomposed.png" | absolute_url}}">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/images/apple-touch-icon-114x114-precomposed.png" | absolute_url }}">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/images/apple-touch-icon-144x144-precomposed.png" | absolute_url }}">
