---
layout: home
title: Search
comments: false
---

<article>
  <div style="text-align: center">
    <h3>Finds a post by title, tag, category, date and url.</h3>
    <input type="text" id="search-input"/>
  </div>
  <h3>Results:</h3>
	<ul id="results-container">
	</ul>
</article><!-- /.hentry -->

<script type="text/javascript">

  window.onload = function(){
    new SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '{{site.baseurl}}/search.json',
      searchResultTemplate: '<li class="entry-title"><a href="{url}" title="{title}">{title}</a></li>'
    });
  }

</script>
